.HeaderAdd{
    position: absolute;
    display: flex;
    align-items: center;
    width: 1437px;
    height: 80px;
    left: 0px;
    top: 0px;
    padding: 10px;
    background: #BAE79F;
}
.inpRoom{
    position: absolute;
    width: 360px;
    height: 47px;
    left: 500px;
    top: 138px;
    border-radius: 10px;
}
.radioPrivate{
    position: relative;
    display: flex;
    width: 45px;
    height: 45px;
    left: 0px;
    top: -10px;

    background: #D9D9D9;
}
.labelP{
    position: relative;
    display: flex;
    width: 165px;
    height: 29px;
    left: 500px;
    top: 400px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    white-space: nowrap;
}
.radioDm{
    position: relative;
    display: flex;
    width: 45px;
    height: 45px;
    left: 0px;
    top: -10px;
    background: #D9D9D9;
}
.labelD{
    position: relative;
    display: flex;
    width: 165px;
    height: 29px;
    left: 500px;
    top: 286px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    color: #000000;
    white-space: nowrap;
}