.Head{
  background-color: rgb(128, 255, 155);
  width: 100%;
  padding-bottom: 30px;
}
.chatapp{
  text-align: left;  /* 文章を左寄せする(※) */
  float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
  font-size: 1.5em;
}
.logn {
  text-align: right; /* 文章を右寄せする */
}
.item{
  margin-top: 150px;
  text-align: center;
}
.text{
  margin-bottom: 20px;
  font-size: 25px;
}

.item input{
  background-color: rgb(163, 254, 204);

  padding-left:   30px;  /* 左だけ指定 */
  padding-right:  23px;  /* 右だけ指定 */
  font-size: 20px;
}
