@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <form id="myForm" method="post">
        <p>メッセージ：<input type="text" id="sentence" required" /></p>
        <input type="submit" id="button" value="送信" />
    </form>
    @if (ViewData["SerializedMessage"] == null)
    {
        <div>シリアライズ化したメッセージ</div>
        <pre id="SerializedMessage">@ViewData["SerializedMessage"]</pre>
    }
    <script>
        document.getElementById("myForm").addEventListener("submit", function (event) {
            event.preventDefault();
            
            const message = document.getElementById("sentence").value;

            // フォームのデータをJSON形式に変換
            const jsonData = JSON.stringify({ message: message });

            // シリアライズ化したメッセージを表示
            document.getElementById("SerializedMessage").innerText = jsonData;
        });
    </script>
</body>
</html>